/* Variables */
$primary-color: #231a13;
/* $primary-color: #151515; */
$secondary-color: #BE2799;
/* $secondary-color: $secondary-color; */
$tertiary-color: #212121;
/* $tertiary-color: #4f1140; */
$logo-font: "Holland";
$primary-font: "Maven Pro";
$scale-factor: 1.03;
/* End Variables */

