.formSignup__container {
  background: $primary-color;
  border-radius: 10px;
  /* border: solid 5px #fff; */
  font-family: $primary-font;
}

.signup__button {
  @include bigButton;
  background-color: $secondary-color;
}