/* title section */
.title__container {
  @include container;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title__description {
  border-top: solid 5px #fff;
  border-bottom: solid 5px #fff;
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  font-family: $primary-font;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
/* end title section */